<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865596431408-trv4p1nbn43ogl033mko3ta8dofhatr6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865596431408-trv4p1nbn43ogl033mko3ta8dofhatr6</string>
	<key>API_KEY</key>
	<string>AIzaSyCQS4gmBcV2KJIPS-uFhDcoGmgaLgX-rZw</string>
	<key>GCM_SENDER_ID</key>
	<string>865596431408</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoproject</string>
	<key>PROJECT_ID</key>
	<string>demoproject-b0b4a</string>
	<key>STORAGE_BUCKET</key>
	<string>demoproject-b0b4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865596431408:ios:72f8ef92f4712f7adb61f5</string>
</dict>
</plist>